In [ ]:
#importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#convertir en dataframe
df= pd.read_csv("CountryTable.csv")
df

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YuG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [ ]:
#imprimimos las primeras filas o registros del dataframe 
df.head(10)

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
5,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
7,ARE,united Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
8,ARG,Argentina,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rua,69.0,AR
9,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotSarjan,126.0,AM

In [ ]:
#imprimimos las primeras filas o registros del dataframe 
df.head(8)

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
5,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
7,ARE,united Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE

*FILTROS BASICOS PARA VARIABLES CUALITATIVAS*

In [ ]:
#filtro por objeto
filtro1=df[df["Entidad_Federativa"] == "Puebla"]
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
42,2005,1,Puebla,Hombres,230487,1341586,17.180188220000000000000
43,2005,1,Puebla,Mujeres,188720,817134,23.095355230000000000000
108,2005,2,Puebla,Hombres,236459,1307234,18.088498310000000000000
109,2005,2,Puebla,Mujeres,190831,825016,23.130581710000000000000
174,2005,3,Puebla,Hombres,233484,1333871,17.504241410000000000000
...,...,...,...,...,...,...,...
4399,2021,3,Puebla,Mujeres,188908,1163761,16.232542590000000000000
4464,2021,4,Puebla,Hombres,316434,1719797,18.399497150000000000000
4465,2021,4,Puebla,Mujeres,203202,1207987,16.821538640000000000000
4530,2022,1,Puebla,Hombres,320843,1778065,18.044503430000000000000
4531,2022,1,Puebla,Mujeres,179545,1151959,15.586058180000000000000

In [ ]:
#filtro 
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [1000,2000,3000],:]#filas no consecutivas
filtro2b=df.iloc[ 1000:2000, : ]#filas consecutivas
filtro2

IndexError: ignored

In [ ]:
#FILTRO NÃšMERO 3
#Ejemplo 1:
filtro_columna=df.iloc[ 40:45 , 1:6]
 
filtro_columna

,name,continent,region,surface_area,independence_year
40,Chile,South America,South America,756626.0,1810.0
41,China,Asia,Eastern Asia,9572900.0,-1523.0
42,Cote dIvoire,Africa,Western Africa,322463.0,1960.0
43,Cameroon,Africa,Central Africa,475442.0,1960.0
44,"Congo, The Democratic Republic of the",Africa,Central Africa,2344858.0,1960.0

In [ ]:
#FILTRO NÃšMERO 3
#Ejemplo 2:
filtro_columna_2=df.iloc[ 55:70 , [1,6,7]]
 
filtro_columna_2

                  name  population  life_expectancy
55      Czech Republic    10278100             74.5
56             Germany    82164700             77.4
57            Djibouti      638000             50.8
58            Dominica       71000             73.4
59             Denmark     5330000             76.5
60  Dominican Republic     8495000             73.2
61             Algeria    31471000             69.7
62             Ecuador    12646000             71.1
63               Egypt    68470000             63.3
64             Eritrea     3850000             55.8
65      Western Sahara      293000             49.8
66               Spain    39441700             78.8
67             Estonia     1439200             69.5
68            Ethiopia    62565000             45.2
69             Finland     5171300             77.4

In [ ]:
#filtro de filas vs columnas
#FILTRO #4
#Ejemplo 1:
#Paso 1
from google.colab import files
uploaded=files.upload() 
df = pd.read_csv(io.BytesIO(uploaded["CountryTable.csv"]), index_col=2)
df

Saving CountryTable.csv to CountryTable (1).csv

,code,name,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
continent,,,,,,,,,,,,,,
North America,ABW,Aruba,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Asia,AFG,Afghanistan,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Africa,AGO,Angola,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
North America,AIA,Anguilla,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Europe,ALB,Albania,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Asia,YEM,Yemen,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
Europe,YuG,Yugoslavia,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu
Africa,ZAF,South Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
Africa,ZMB,Zambia,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
Africa,ZWE,Zimbabwe,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [ ]:
#Ejemplo #1
#Paso 2
filtro4=df.loc[["Africa","Europe"],["population"]]
filtro4

           population
continent
Africa       12878000
Africa        6695000
Africa        6097000
Africa       11937000
Africa        1622000
...               ...
Europe        1987800
Europe        8861400
Europe       50456000
Europe           1000
Europe       10640000

[104 rows x 1 columns]

In [ ]:
#Filtro #4 
#Ejemplo #2
#Paso 1
from google.colab import files
uploaded=files.upload() 
df = pd.read_csv(io.BytesIO(uploaded["CountryTable.csv"]), index_col=3)
df

Saving CountryTable.csv to CountryTable (2).csv

,code,name,continent,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
region,,,,,,,,,,,,,,
Caribbean,ABW,Aruba,North America,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Southern and Central Asia,AFG,Afghanistan,Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Central Africa,AGO,Angola,Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
Caribbean,AIA,Anguilla,North America,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Southern Europe,ALB,Albania,Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Middle East,YEM,Yemen,Asia,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
Southern Europe,YuG,Yugoslavia,Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoStunica,1792.0,Yu
Southern Africa,ZAF,South Africa,Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
Eastern Africa,ZMB,Zambia,Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
Eastern Africa,ZWE,Zimbabwe,Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [ ]:
#Ejemplo #2
#Paso 2
filtro4_2=df.loc[["South America","Western Europe"],["life_expectancy"]]
filtro4_2

                life_expectancy
region
South America              75.1
South America              63.7
South America              62.9
South America              75.7
South America              70.3
South America              71.1
South America               NaN
South America              76.1
South America              64.0
South America              70.0
South America              73.7
South America              71.4
South America              75.2
South America              73.1
Western Europe             77.7
Western Europe             77.8
Western Europe             79.6
Western Europe             77.4
Western Europe             78.8
Western Europe             78.8
Western Europe             77.1
Western Europe             78.8
Western Europe             78.3

In [ ]:
#filtro por cabecera
filtro5=df.head(11)#Aqui estoy poniendo las primera 11 columnas 
filtro5

,code,name,continent,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
region,,,,,,,,,,,,,,
Caribbean,ABW,Aruba,North America,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,129.0,AW
Southern and Central Asia,AFG,Afghanistan,Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
Central Africa,AGO,Angola,Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,Jose Eduardo dos Santos,56.0,AO
Caribbean,AIA,Anguilla,North America,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the uK,Elisabeth II,62.0,AI
Southern Europe,ALB,Albania,Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqiperia,Republic,Rexhep Mejdani,34.0,AL
Southern Europe,AND,Andorra,Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,NaN,55.0,AD
Caribbean,ANT,Netherlands Antilles,North America,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Willem-Alexander,33.0,AN
Middle East,ARE,united Arab Emirates,Asia,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al- Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65.0,AE
South America,ARG,Argentina,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rua,69.0,AR
Middle East,ARM,Armenia,Asia,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotSarjan,126.0,AM
Polynesia,ASM,American Samoa,Oceania,199.0,NaN,68000,75.1,334.0,NaN,Amerika Samoa,uS Territory,George W. Bush,54.0,AS

**FILTROS BASICOS PARA VARIABLES CUANTITATIVAS**

In [ ]:
#Filtro por comparacion
filtro6=df[df["Periodo"] >= 2010]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2010,1,Hombres,4477317,28421331,15.753368480000000000000
Nacional,2010,1,Mujeres,2580136,17103008,15.085860920000000000000
Aguascalientes,2010,1,Hombres,58931,274223,21.490174060000000000000
Aguascalientes,2010,1,Mujeres,30999,173151,17.90287090000000000000
Baja California,2010,1,Hombres,141575,820298,17.258971740000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

**Filtros basicos con conectroes logicos**

In [ ]:
#filtro y
filtro7=df[(df)["Periodo"]>2015 & (df["Sexo"]== "Hombres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#filtro o
filtro8=df[(df["Periodo"] > 2006) | (df["Sexo"]== "Mujeres")]
filtro8

KeyError: ignored

In [ ]:
#filtro not
filtro9=df[~(df["Periodo"] >=2006) & ~ (df["Sexo"] == "Mujeres")]
filtro9

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
Baja California Sur,2005,1,Hombres,9349,148814,6.2823390270000000000000
Campeche,2005,1,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...
Tamaulipas,2005,4,Hombres,153867,814984,18.879757150000000000000
Tlaxcala,2005,4,Hombres,62629,274862,22.785616050000000000000
Veracruz,2005,4,Hombres,177063,1809574,9.7847891270000000000000
Yucat n,2005,4,Hombres,87066,488417,17.826160840000000000000
Zacatecas,2005,4,Hombres,26631,353848,7.5261129070000000000000

In [ ]:
#convertir archivo filtrado a CSV
filtro9.to_csv("Entregable.csv")

In [ ]:
filtro_columna.to_csv("Filtro3(ejemplo1).csv")

In [ ]:
from google.colab import files

files.download("Filtro3(ejemplo1).csv")

In [ ]:
filtro_columna_2.to_csv("Filtro3(ejemplo2).csv")

In [ ]:
from google.colab import files

files.download("Filtro3(ejemplo2).csv")

In [ ]:
filtro4.to_csv("Filtro4(ejemplo1).csv")

In [ ]:
from google.colab import files

files.download("Filtro4(ejemplo1).csv")

In [ ]:
filtro4_2.to_csv("Filtro4(ejemplo2).csv")

In [ ]:
from google.colab import files

files.download("Filtro4(ejemplo2).csv")

In [ ]:
#descargar archivo filtrado csv
from google.colab import files

files.download("Entregable.csv")

FileNotFoundError: ignored